<!DOCTYPE html>
<html>
<head>
	<title>product list</title>
</head>
<body>
	<h1> product list</h1>

	
	<a href="/home">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>Product ID</td>
			<td>user id</td>
			<td>date</td>
			
		</tr>
		
		<!-- <% for(var i=0; i < users.length; i++){ %>
			
			<tr>
				<td><%= users[i][0] %></td>
				<td><%= users[i][1] %></td>
				<td><%= users[i][2] %></td>
				<td><%= users[i][3] %></td>
			</tr>

		<% } %> -->

		<% 
			users.forEach( function(std){ %>
			<tr>
				<td><%= std.id %></td>
				<td><%= std.pid %></td>
				<td><%= std.uid %></td>
				<td><%= std.date %></td>
				
				
				
			
				<td>
					<!-- <a href="/Campaigns/edit/<%= std.id %>">Edit</a> | -->
					
					<!-- <a href="//report/<%= std.id %>">report</a>
					<a href="/Campaigns/bookmarks/<%= std.id %>">bookmarks</a>
 -->
				</td>
			</tr>

		<%
			}); 
		%>
		
	</table>

</body>
</html>